
*{
    padding: 0;
    margin: 0;
}  
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Header Style*/

header{
    max-width: 1320px;
    margin: 50px auto;
    /* background-image: url("../images/Banner\ Image.png"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url(../images/Banner\ Image.png);
    height: 600px;
    border-radius: 16px;
}
.hero{
    text-align: center;
    align-items: center;
    padding: 177px 344px 177px 344px;
    color: #FFFFFF;
}
.hero h3{
    font-size: 32px;
    
}
.hero h1{
    font-size: 72px;
    font-weight: 900px;
}

.first-section{
    display: flex;
}

.Offer-container{

}

.happy-new-year{
    margin: 120px 0;
    color: #FF0000;
    text-align: center;
}
.happy-new-year h1{
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 50px;
}
.happy-new-year h5{
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 16px;
}
.happy-new-year h2{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-bottom: 50px;
}

.mid-night-party{
    /* background-image: url("../images/Vectorrr.png"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin: 120px auto;
    display: flex;
    align-items: center;
}
.party{
    color: #FFFFFF;
    padding: 126px 39px 107px 126px;
    
}
.party h1{
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 30px;
}
.party p{
    font-size: 18px;
    color: #ffffffc0;
}
.party input{
    font-weight: bold;
    font-size: 20px;
    margin-top: 48px;
}
.mid-night-party img{
    padding: 67px 138px 67px 39px;
}

/*Address section */

.address-section{
    max-width: 1320px;
    margin: 120px auto;
    background-color: rgba(255, 0, 0, 0.1);
}

.address{
    text-align: center;
    padding: 100px 350px;
    font-size: 32px;
    font-weight: 600;
    line-height: 2em;
    align-items: center;
}
.address button{
    font-size: 20px;
    font-weight: bold;
    color:#FFFFFF;
    background-color: #FF0000;
    border-radius: 8px;
    padding: 16px 32px;
    margin-top: 48px;
}
.address span{
    color: #FF0000;
}

/*Comming soon part*/

.comming-soon{
    display: flex;
    max-width: 1320px;
    margin: 120px auto;
    text-align: left;
    align-items: center;
    /* gap: 100px; */
}
.left-side{
    margin-right: 70px;
}
.left-side h3{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 16px;
}
.left-side h2{
    font-size: 48px;
    font-weight: 900px;
    color: #070211;
    margin-bottom: 18px;
}
.left-side p{
    font-size: 20px;
    color: #0702118d;;
}
.middle{
    border: 3px solid red;
    border: 12px solid red;
    border-radius: 50%;
    margin-right: 118px;
    padding: 18px;
}
.right-side h1{
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 16px;
}
.right-side p{
    font-size: 20px;
    color: #0702118d;
    margin-bottom: 43px;
}