
*{
    padding: 0;
    margin: 0;
}  
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Header Style*/

header{
    max-width: 1320px;
    margin: 50px auto;
    background-image: url("../images/Banner\ Image.png");
    height: 600px;
    border-radius: 16px;
}
.hero{
    text-align: center;
    align-items: center;
    padding: 177px 344px 177px 344px;
    color: #FFFFFF;
}
.hero h3{
    font-size: 32px;
    
}
.hero h1{
    font-size: 72px;
}

.first-section{
    display: flex;
}

.Offer-container{

}

.happy-new-year{
    margin: 120px 0;
    color: #FF0000;
    text-align: center;
}
.happy-new-year h1{
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 50px;
}
.happy-new-year h5{
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 16px;
}
.happy-new-year h2{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-bottom: 50px;
}
